{% extends "_base.html" %}


{% block content %}
    {% include "header.html" %}

    <div class="container-sm vstack gap-4 mt-4">
        <div>
            <a class="text-decoration-none d-block" href="{% url 'projects' %}">&larr; All Projects</a>
        </div>
        <div class="row">
            <div class="col-md-3 vstack gap-1 py-3 nav nav-pills nav-fill">
                <div class="nav-item text-start">
                    <a class="nav-link {% if request.resolver_match.url_name == "project" %}active{% endif %}"
                       href="{% url 'project' project.id %}">
                        Project Details
                    </a>
                </div>
{#                <div class="nav-item text-start">#}
{#                    <a class="nav-link {% if request.resolver_match.url_name == "project_assets" %}active{% endif %}"#}
{#                       href="{% url 'project_assets' project.id %}">#}
{#                        Project Assets#}
{#                    </a>#}
{#                </div>#}
{#                <div class="nav-item text-start">#}
{#                    <a class="nav-link {% if request.resolver_match.url_name == "project_collaborators" %}active{% endif %}"#}
{#                       href="{% url 'project_collaborators' project.id %}">#}
{#                        Collaborators#}
{#                    </a>#}
{#                </div>#}
{#                <div class="nav-item text-start">#}
{#                    <a class="nav-link {% if request.resolver_match.url_name == "project_manage" %}active{% endif %}"#}
{#                       href="{% url 'project_manage' project.id %}">#}
{#                        Manage Project#}
{#                    </a>#}
{#                </div>#}
            </div>
            <div class="col-md-9">
                {% block project_content %}{% endblock %}
            </div>
        </div>

    </div>

{% endblock %}