{% extends 'projects/_base.html' %}

{% block page_title %}{{ project.name }}{% endblock %}

{% block project_content %}
    <div>
        <div class="d-flex justify-content-between">
            <h3 class="m-0">Project Details</h3>
        </div>
        <hr class="w-100 border-secondary mt-2">


        <div class="rounded vstack gap-2">
            <div>
                <p class="m-0 text-secondary fw-bold">Project Identifier:</p>
                <p class="lead fs-6">{{ project.identifier }}</p>
            </div>

            <div>
                <p class="m-0 text-secondary fw-bold">Project title:</p>
                <h3 class="h3">{{ project.name }}</h3>
            </div>

            <div>
                <p class="m-0 text-secondary fw-bold">Project description:</p>
                <p class="lead fs-6">{{ project.description }}</p>
            </div>

            <div>
                <p class="m-0 text-secondary fw-bold">Project type:</p>
                <h5 class="lead fs-6">{{ project.get_type }}</h5>
            </div>

            <div>
                <p class="m-0 text-secondary fw-bold">Project location:</p>
                <h5 class="lead fs-6">{{ project.location }}</h5>
            </div>

            <div>
                <p class="m-0 text-secondary fw-bold">Project status:</p>
                <p class="lead fs-6 fw-semibold">{{ project.get_status }}</p>
            </div>

            <div class="d-flex gap-5">
                <div>
                    <p class="m-0 text-secondary fw-bold">Start date:</p>
                    <p class="lead fs-6">{{ project.start_date|date }}</p>
                </div>
                <div>
                    <p class="m-0 text-secondary fw-bold">End date:</p>
                    {% if project.end_date %}
                        <p class="lead fs-6">{{ project.end_date|date }}</p>
                    {% else %}
                        <p class="lead fs-6">Not defined</p>
                    {% endif %}
                </div>
            </div>

            <div>
                <p class="m-0 text-secondary fw-bold">Created date:</p>
                <p class="lead fs-6">{{ project.created_at|date }}</p>
            </div>

            <div>
                <p class="m-0 text-secondary fw-bold">Created by:</p>
                <p class="lead fs-6">{{ project.user.get_full_name }}
                    <span class="fst-italic">({{ project.user.email }})</span>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
