{% extends "_base.html" %}

{% block content %}
    {% include "header.html" %}

    <div class="row mb-3 mx-3 mt-5">
        <div class="col-md-8 col-xl-4 mx-auto">
            <h2>{% block auth_page_title %}{% endblock %}</h2>
            <p class="w-lg-50">{% block auth_page_description %}{% endblock %}</p>
        </div>
    </div>

    <div class="row d-flex justify-content-center mx-3">
        <div class="col-md-8 col-xl-4">
            <div class="mb-5 w-100">
                <div class="d-flex flex-column align-items-center w-100">
                    {% block auth_page_content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

