{% extends "registration/_base.html" %}
{% load crispy_forms_tags %}

{% block page_title %}Login{% endblock %}

{% block auth_page_title %}Welcome, log in to your account{% endblock %}
{% block auth_page_description %}We're thrilled to have you back! Please enter your credentials to access your
    account.{% endblock %}


{% block auth_page_content %}
    <form method="post" class="w-100">

        {% csrf_token %}
        {{ form|crispy }}

        <div>
            <button type="submit" class="btn btn-primary d-block w-100 mb-3 btn-lg">Log In</button>
        </div>
    </form>
    <div class="mb-3 text-center"><a class="text-decoration-none" href="{% url 'password_reset' %}">Forgot Password?</a>
    </div>
    <div class="mb-3 text-center"><a class="text-decoration-none" href="{% url "signup" %}">Don't have an account?
        Create account.</a></div>
{% endblock %}
