{% extends 'registration/_base.html' %}
{% load crispy_forms_tags %}

{% block page_title %}Forgot Your Password?{% endblock %}

{% block auth_page_title %}Forgot your password{% endblock %}
{% block auth_page_description %}No worries! It happens to the best of us. Enter your email address below, and we'll
    send you a link to reset your password.{% endblock %}

{% block auth_page_content %}
    <form method="post" class="w-100">

        {% csrf_token %}
        {{ form|crispy }}

        <div>
            <button type="submit" class="btn btn-primary d-block w-100 mb-3 btn-lg">Send me instructions!</button>
        </div>
    </form>
    <div class="mb-3 text-center"><a class="text-decoration-none" href="{% url 'login' %}">Already have an account?
        Login.</a></div>
    <div class="mb-3 text-center"><a class="text-decoration-none" href="{% url 'signup' %}">Don't have an account?
        Create account.</a></div>
{% endblock %}