{% extends "registration/_base.html" %}
{% load crispy_forms_tags %}


{% block page_title %}Update Your Password{% endblock %}

{% block auth_page_title %}Choose a New Password{% endblock %}
{% block auth_page_description %}It's always a good idea to keep your account secure. Enter your new password below to
    update your login credentials.{% endblock %}

{% block auth_page_content %}
    {% if validlink %}
        <form method="post" class="w-100">

            {% csrf_token %}
            {{ form|crispy }}

            <div>
                <button type="submit" class="btn btn-primary d-block w-100 mb-3 btn-lg">Update my password</button>
            </div>
        </form>
    {% else %}
        <p>Oops! It looks like your password reset link has expired. No worries, though. You can request a new one.</p>
    {% endif %}
{% endblock %}