{% extends 'projects/_base.html' %}
{% load crispy_forms_tags %}

{% block page_title %}Files{% endblock %}

{% block project_content %}
    <div>
        <div class="d-flex justify-content-between align-items-center">
            <h3 class="m-0">Project Files</h3>
            <p class="lead fs-6 mb-0">({{ project.identifier }}) {{ project.name }}</p>
        </div>
        <hr class="w-100 border-secondary mt-2">
        <div class="d-flex justify-content-end gap-3 mb-2">
            {% if can_manage_files %}
                <a href="{% url 'upload_file' project.id %}" class="btn btn-outline-primary">
                    <i class="fa fa-upload" aria-hidden="true"></i>
                    Upload new file
                </a>

                <form method="post" action="{% url 'project_files' project.id %}" class="d-flex flex-column gap-2">
                    {% csrf_token %}
                    <input type="hidden" name="merged" value="1"/>
                    <button type="submit" class="btn btn-outline-primary">
                        <i class="fa-solid fa-download"></i> Download merged files
                    </button>
                </form>
            {% endif %}
        </div>
        <ol class="list-group list-group-numbered">
            {% for file in files %}
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto d-flex flex-column gap-2">
                        <div>
                            <div class="fw-bold">{{ file.name }}</div>
                            <div class="fw-light fs-6">{{ file.category }}</div>
                        </div>


                        <div class="d-flex gap-4">
                            <a href="{% url "download" project_id=project.id file_id=file.id %}"
                               class="text-decoration-none"><i class="fa-solid fa-file-arrow-down"></i>&nbsp;&nbsp;Download
                                current version</a>
                            <a href="{% url "file_versions" project_id=project.id file_id=file.id %}"
                               class="text-decoration-none"><i class="fa-solid fa-folder-tree"></i>&nbsp;&nbsp;Versions</a>
                        </div>
                        <small class="fw-lighter">{{ file.updated_at|timesince }}</small>
                    </div>
                    <span class="badge bg-primary rounded-pill">v. {{ file.get_versions|length }}</span>
                </li>
                {% empty %}
                <p class="text-center">Project has not files yet. Click "Upload new file" to add project files</p>
            {% endfor %}
        </ol>
    </div>
{% endblock %}