<nav class="navbar navbar-default navbar-fixed-top bg-primary border-bottom border-secondary-subtle py-3"
     data-bs-theme="dark">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url "projects" %}">
                <i class="fa-solid fa-trowel-bricks" style="color: #ffffff;"></i>
                Builder Co.
            </a>
        </div>
        {% if user.is_authenticated %}
            <div class="nav navbar-nav navbar-right">
                <div class="d-flex gap-3 align-items-center">
{#                    <div class="text-white">#}
{#                        <i class="fa-solid fa-bell"></i>#}
{#                        Notifications(1)#}
{#                    </div>#}

                    <div>
                        <a href="{% url 'logout' %}" class="block text-white">
                    <span class="fw-bold">
                        {{ user.first_name }}
                        {% if user.is_superuser %}
                            <small>(Admin Account)</small>
                        {% endif %}
                    </span>,
                            Log Out
                        </a>
                    </div>
                </div>

            </div>
        {% endif %}
    </div>
</nav>

